
[Desktop Entry]
Name=Work Experience Calculator
GenericName=Work Experience Calculator
Comment=Calculate work experience with coefficients
Exec=calculator-work-experience
Terminal=false
Type=Application
Categories=Office;Utility;
Keywords=calculator;work;experience;
