
#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	npm ci
	npm run build

override_dh_auto_clean:
	rm -rf dist
	rm -rf node_modules

override_dh_auto_install:
	mkdir -p debian/calculator-work-experience/usr/share/calculator-work-experience
	cp -r dist/* debian/calculator-work-experience/usr/share/calculator-work-experience/
	mkdir -p debian/calculator-work-experience/usr/bin
	cp debian/calculator-work-experience.sh debian/calculator-work-experience/usr/bin/calculator-work-experience
	chmod +x debian/calculator-work-experience/usr/bin/calculator-work-experience
	mkdir -p debian/calculator-work-experience/usr/share/applications
	cp debian/calculator-work-experience.desktop debian/calculator-work-experience/usr/share/applications/
